.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  max-width: 100%;
}

.tab-pane {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  max-width: 100%;
  text-align: left;
  white-space: nowrap;
}

.tab-list {
  box-sizing: border-box;
  display: flex;
  text-align: left;
  white-space: nowrap;
}

.tab-bar {
  display: flex;
  background-color: white;
  text-align: left;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  border-bottom: 1px solid #eee;
}

.tab {
  padding: 10px;
  display: flex;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
